
initialize() {
         mut_rate = 1e-7 * 25/4;
         l = 5e5;
         initializeTreeSeq();
         initializeMutationRate(mut_rate);
         initializeMutationType("m1", 0.5, "f", 0);
         initializeMutationType("m2", 0.5, "f", 0);
         initializeMutationType("m3", 0.5, "f", -0.02);
         initializeGenomicElementType("g1", c(m1, m2, m3), c(4, 20, 1));
         initializeGenomicElement(g1, 0, l-1);
         initializeRecombinationRate(0);
} 
1{
         sim.addSubpop("p1", N);
	 sim.rescheduleScriptBlock(s1, start=10*N, end=10*N);
}
s1 1000 late() {
         sim.treeSeqOutput("data/slim/bgs_1class/bgs_1class.B" + B + "_N" + N  + "_rep" + rep + ".trees");
}
