initialize() {
         initializeTreeSeq();
         initializeMutationRate(u * 25/4);
         initializeMutationType("m1", 0.5, "f", -0.1);
         initializeMutationType("m2", 0.5, "f", 0);
         initializeMutationType("m3", 0.5, "f", -0.02);
	 initializeGenomicElementType("g1", c(m1, m2, m3), c(4, 20, 1));
         initializeGenomicElement(g1, 0, 5e5);
         initializeRecombinationRate(0);
} 
1 { sim.addSubpop("p1", 5000); }

40000 { p1.setSubpopulationSize(N); }
45000 { p1.setSubpopulationSize(5000); }

50000 late() {
         sim.treeSeqOutput("../../data/slim/bgs_3classes_noneq/bgs_bottleneck_" + mode + ".N" + N + "rep" + rep + ".trees");
}
